
.related {
  padding-top: 15px;
  font-size: $small-font-size;
}

.modified {
  font-size: $small-font-size;
}

.label a {
  color: #fff
}
.label.blog {
  background-color: #c43c35
}

.label.design {
  background-color: #c43c35
}
